  <div ng-controller="accountCtrl as ctrl">
<ion-view title="Account" id="page4" style="background-color:#CDE7D6;">
  <ion-content padding="true" class="has-header">

Classical Tibetan refers to the language of any text written in Tibetic after the Old Tibetan period; though it extends from the 7th century until the modern day,[2] it particularly refers to the language of early canonical texts translated from other languages, especially Sanskrit. The phonology implied by Classical Tibetan orthography is basically identical to the phonology of Old Tibetan, but the grammar varies greatly depending on period and geographic origin of the author. Such variation is an under-researched topic.

In 816, during the reign of King Sadnalegs, literary Tibetan underwent a thorough reform aimed at standardizing the language and vocabulary of the translations being made from Indian texts, which resulted in what is now called Classical Tibetan.[3]
  




<!-- <form action="http://locahost:1337/user" method="POST">
  <script type="text/ng-template"
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_s27DpBgR91EwAxzdOVKjbUxJ"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto">
  </script>
</form> -->


<!--         <button stripe-checkout="ctrl.doCheckout"
            data-key="pk_test_s27DpBgR91EwAxzdOVKjbUxJ"
            data-name="Subscription Munsel Pronunciation Camp"
            data-description="Five dollahs!"
            data-amount="500">
      Buy
    </button> -->

<!--     <form stripe:form="saveCustomer">
  <fieldset>
    <input type="text" size="20" data-stripe="number"/>
    <input type="text" size="4" data-stripe="cvc"/>
    <input type="text" size="2" data-stripe="exp-month"/>
    <input type="text" size="4" data-stripe="exp-year"/>
  </fieldset>
  <button type="submit">Save</button>
</form> -->



</ion-content>
</ion-view>

</div>