<ion-view title="login" hide-nav-bar="true" id="page5">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div>
      <img src="img/CuM01O5yQkKniKeygUOm_blob" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form1" class="list">
      <label class="item item-input" id="login-input1">
        <input type="text" placeholder="                      Type your login">
      </label>
    </form>
    <a ui-sref="tabsController.account" id="login-button1" style="border-radius:26px 26px 26px 26px;" class="button button-calm button-large button-block">Login</a>
  </ion-content>
</ion-view>